---
import '../styles/global.css';
import Navbar from './Navbar';
import Footer from './Footer';

interface LayoutProps {
  children: any;
}

const { children } = Astro.props;
---

<div class="min-h-screen flex flex-col">
  <Navbar client:load />
  <main class="flex-1">
    {children}
  </main>
  <Footer client:load />
</div>
